---
title: Portfolio
---
<div class="section" id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="intro">
          <h1 data-sr="enter left, move 250px, over 1s">Super Dudu</h1>
          <h2 data-sr="enter right, move 250px, over 1s, wait 0.3s">Développeuse Ruby & designeuse d'interface. N’hésitez pas à me contacter pour une mission freelance ou une collaboration.</h2>
          <ul class="list-unstyled text-right">
            <li class="link"><a class="underline" href="https://fr.linkedin.com/in/lisa-durand-46333722" target="_blank">linkedin</a></li>
            <li class="link"><a class="underline" href="https://dribbble.com/superdudu" target="_blank">dribbble</a></li>
            <li class="link"><a class="link unstyled" href="mailto:lisa@superdudu.net">mail</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a href="#first_work" class="arrow arrow-intro slideDown"><%= image_tag('arrow_down.svg') %></a>
</div>

<section class="work" id="first_work">
  <div class="container">
    <div class="row">
      <div class="hidden-xs">
        <div data-sr="enter bottom, move 250px, over 1s, wait 0.3s">
          <div class="col-xs-12 col-sm-7 text-center center-block">
            <%= image_tag('work_wor.jpg', class: "img-responsive")  %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="info">
          <h1 data-sr="enter left, move 250px, over 1s">Women on Rails</h1>
          <h2 data-sr="enter left, move 250px, over 1s, wait 0.3s">Ateliers d’apprentissage et de promotion du code pour les femmes</h2>
          <ul class="list-unstyled text-right task">
            <li>identité</li>
            <li>design d'interface</li>
            <li>intégration</li>
          </ul>
          <ul class="list-unstyled text-right">
            <li class="link"><a target="_blank" href="http://womenonrails.com/">visiter le site</a></li>
          </ul>
        </div>
      </div>
      <div class="visible-xs">
        <div data-sr="enter bottom, move 250px, over 1s, wait 0.3s">
          <div class="col-xs-12 col-sm-7 text-center center-block">
            <%= image_tag('work_wor.jpg', class: "img-responsive")  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="work">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="info">
          <h1 data-sr="enter right, move 250px, over 1s">Fluicity</h1>
          <h2 data-sr="enter right, move 250px, over 1s, wait 0.3s">une application pour renouer le dialogue entre les citoyens et les maires</h2>
          <ul class="list-unstyled text-left task">
            <li>design d'interface</li>
            <li>intégration</li>
            <li>développement</li>
          </ul>
          <ul class="list-unstyled text-left">
            <li class="link"><a target="_blank" href="https://www.flui.city/">visiter le site</a></li>
          </ul>
        </div>
      </div>
      <div data-sr="enter bottom, move 250px, over 1s, wait 0.3s">
        <div class="col-xs-12 col-sm-7 text-center center-block work_mobile">
          <%= image_tag('work_fluicity2.jpg', class: "img-responsive work_mobile_back")  %>
          <%= image_tag('work_fluicity1.jpg', class: "img-responsive work_mobile_front")  %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="work">
  <div class="container">
    <div class="row">
      <div data-sr="enter bottom, move 250px, over 1s, wait 0.3s">
        <div class="hidden-xs">
          <div class="col-xs-12 col-sm-7 text-center center-block">
            <%= image_tag('work_webibli.jpg', class: "img-responsive")  %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="info">
          <h1 data-sr="enter left, move 250px, over 1s">Webibli</h1>
          <h2 data-sr="enter left, move 250px, over 1s, wait 0.3s">une bibliothèque collaborative spécialisée dans le graphisme & le web</h2>
          <ul class="list-unstyled text-right task">
            <li>identité</li>
            <li>design d'interface</li>
            <li>intégration</li>
            <li>développement</li>
          </ul>
          <ul class="list-unstyled text-right">
            <li class="link"><a target="_blank" href="http://webibli.fr/">visiter le site</a></li>
          </ul>
        </div>
      </div>
      <div class="visible-xs">
          <div class="col-xs-12 col-sm-7 text-center center-block">
            <%= image_tag('work_webibli.jpg', class: "img-responsive")  %>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="work">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="info">
          <h1 data-sr="enter right, move 250px, over 1s">Kisio Digital</h1>
          <h2 data-sr="enter right, move 250px, over 1s, wait 0.3s">une application de calcul d’itinéraire multimodal</h2>
          <ul class="list-unstyled text-left task">
            <li>design d'interface</li>
          </ul>
          <ul class="list-unstyled text-left">
            <li class="link"><a target="_blank" href="http://www.canaltp.fr/">visiter le site</a></li>
          </ul>
        </div>
      </div>
      <div data-sr="enter bottom, move 250px, over 1s, wait 0.3s">
        <div class="col-xs-12 col-sm-7 text-center center-block work_mobile">
          <%= image_tag('work_canaltp2.jpg', class: "img-responsive work_mobile_back")  %>
          <%= image_tag('work_canaltp1.jpg', class: "img-responsive work_mobile_front")  %>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="text-center">
    <a href="#welcome" class="slideDown arrow arrow-footer">Retour au contact</a>
</footer>
